:root{
    --font1:'Oswald', sans-serif;
    --font2: 'Shadows Into Light', cursive;
    --font3: 'Fira Sans', sans-serif;
    --headingb:100px;
    --headingf:50px;
    --subheading:35px;
    --content:20px;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
body{
    background-color: var(--te5);
    
}
.sss{
    display: flex;
    flex-direction: column;
    margin: 0% 5% 0% 5%;
}
.row{
    display: flex;
    position: relative;
    margin-bottom: 5%;
}

.flex-wrap{
    flex-wrap: wrap;
}
.fb_7{
    flex:70%;
}
.fb_2{
    display: flex;
    flex: 50%;
}
.fb_3{
    display: flex;
    flex: 30%;
}
.fb_4{
    display:flex;
    flex: 25%;
}
.fb_5{
    flex:20%;
}
.relative{
    position: relative;
}
.flow_row{
    flex-direction: row;
}
.flow_column{
    flex-direction: column;

}
.flex{
    display: flex;
}
.section1{
    flex: 30%;
}
.section2{
    flex:70%;
}
.bordered {
    border:1px solid red;
}
.font_style_1{
    font-family: var(--font1);
    color:var(--te4);
}
.center_text{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
}

.flex-container{
    display: flex;
    list-style-type: none; 
    border-bottom:2px solid;
    border-color: linear-gradient(to right,rgba(3, 38, 73, 0),rgb(21, 41, 93));
}
.flex-container > div{
    margin: 2%;
    flex-wrap: wrap;
}

.right-align{
    justify-content: end;
    text-align: left;
}
a{
    display: block;
    text-decoration: none;
}

.flex-container a{
    color: var(--te4);
}

#cv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--te3);
    border-radius:55px;
    padding: 1px 20px;
    text-align: center;
    color:var(--te1);
}
.flex-container a:hover{
    color: var(--te3);
}


.intro{
    font-size: 150px;
    margin: 0%;
}
.hi{
    font-size: 60px;
    font-family: var(--font1);
    color:var(--te3);
}
.names{
    color:var(--te4);
    font-family: var(--font2);
    line-height: 1;
}
.txt{
    font-size: 100px;    
    font-family: var(--font1);
    color:var(--te3);
}
.names >div {
    display: block;
    margin: 1px;
    padding: 0px;
}

.button_style{
    background-color: var(--te3);
    color: var(--te1);
    margin:0 5% 0 5%;
    padding: 1%;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--content);
}
.button_style>a{
    color:var(--te1);
}
.button_style :hover{
    background-color: var(--te2);
}

.heading_f{
    position: relative;
    font-size: var(--headingf);
    font-family: var(--font1);
    color:var(--te4);
    height: 100px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.heading_b{
    position: absolute;
    color:var(--te1);
    font-size: var(--headingb);
    letter-spacing: 20px;    
    text-transform: uppercase;
    border-bottom: 2px solid var(--te4);
}

.sub_heading{
    font-size: var(--subheading);
    font-family: var(--font1);
    text-transform: uppercase;
    color: var(--te4);
}
.sub_heading > div{
    display: inline-block;
    color:var(--te2);
    font-family: var(--font3);
}
.content{
    font-size: var(--content);
    font-family:var(--font3);
    text-transform: uppercase;
    color: var(--te2);
}
.date_block{
    display: flex;
    background-color: var(--te3);
    width: 25%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 10px;
    border-radius: 25px;
    font-family: var(--font1);
    color:var(--te1);
}
.square-dot{
    position: absolute;
    display: flex;
    width:50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--te3);
    justify-content: center;
    align-items: center;
}
.square-dot > div{
    display: flex;
    width: 15px;
    height: 15px;
    background-color: var(--te1);
}
.border_left{
    border-left:3px solid grey ;
    margin-left: 24px;
    margin-bottom: 5%;
    padding-left: 5%;
}

.experience_card{
    margin-top: 10%;
}

ul{
    list-style-type:none;
    padding-left: 0%;
    padding-right: 10%;
    font-family: var(--font1);
    font-size: var(--content);
    line-height: 2;
}
ul>li>b{
    color:var(--te3);
    font-family: var(--font1);
}
ul>li{
    color:var(--te2);
    font-family: var(--font3);
}
footer{
    background-color:var(--te2);
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}

.form{
    background-color: var(--te3);
    padding:20px 10px 20px 10px;
    border-radius: 30px;
    margin-bottom: 15%;
}
.form>input{
    margin: 10px 10px;
    background-color: var(--te5);
    border-radius: 5px;
    font-family: var(--font1);
    font-size: var(--content);
    color: var(--te1);
    padding: 5%;
    border: none;
}

.form>input:focus{
    background-color: var(--te2);
    border: none;

}

#view_projects{
    width:auto;
    height: auto;
}
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
