

  .progress_bar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 30%;
    margin: 15%;
    
  }
  #skill1{
    background: 
    radial-gradient(closest-side, var(--te5) 79%, transparent 80% 100%),
    conic-gradient(var(--te3) 90%, var(--te1) 0%);   
  }
  #skill2{
    background: 
    radial-gradient(closest-side, var(--te5) 79%, transparent 80% 100%),
    conic-gradient(var(--te3) 85%, var(--te1) 0%);   
  }
  #skill3{
    background: 
    radial-gradient(closest-side, var(--te5) 79%, transparent 80% 100%),
    conic-gradient(var(--te3) 35%, var(--te1) 0%);   
  }
  #skill4{
    background: 
    radial-gradient(closest-side, var(--te5) 79%, transparent 80% 100%),
    conic-gradient(var(--te3) 50%, var(--te1) 0%);   
  }
  #skill5{
    background: 
    radial-gradient(closest-side, var(--te5) 79%, transparent 80% 100%),
    conic-gradient(var(--te3) 50%, var(--te1) 0%);   
  }
  #skill6{
    background: 
    radial-gradient(closest-side, var(--te5) 79%, transparent 80% 100%),
    conic-gradient(var(--te3) 60%, var(--te1) 0%);   
  }
  #skill7{
    background: 
    radial-gradient(closest-side, var(--te5) 79%, transparent 80% 100%),
    conic-gradient(var(--te3) 50%, var(--te1) 0%);   
  }
  #skill8{
    background: 
    radial-gradient(closest-side, var(--te5) 79%, transparent 80% 100%),
    conic-gradient(var(--te3) 55%, var(--te1) 0%);   
  }